.box {
box-sizing: border-box;
  width: 400px;
  height: 300px;
  overflow: scroll;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  /* border: 5px solid black; */
}
button {
  width: 100px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 20px; 
}